.item{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 40px 0px;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;;
    display: flex;
    border: dotted gray 3px;
    background-color: white;
    padding: 40px 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item p{
    margin:0px;
    width: 70%;
}
.item span{
    width: 15%;
    text-align: center;
    color: green;
    cursor: pointer;
    font-weight: 900;
}
.delete{
    position: relative;
    top: -58px;
    color: red !important;;
}
